# -----------------------------------------------------------------------------
# GIT
# -----------------------------------------------------------------------------

# Retrieve the current Git branch
function get_git_branch {
  git branch --no-color 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/\ \[\1\]/'
}

# Retrieve the current Git hash
function get_git_hash {
  git rev-parse --short HEAD 2> /dev/null | sed 's/\(.*\)/\ \[\1\]/'
}

# Retrieve latest Git tag, if available
function get_git_tag {
  git describe --tags --abbrev=0 --first-parent 2> /dev/null | sed 's/\(.*\)/\ \[\1\]/'
}

# -----------------------------------------------------------------------------
# MISC.
# -----------------------------------------------------------------------------

# Create a new directory and enter it
function md() {
  mkdir -p "$@" && cd "$@"
}

# Create new notes.md file in ~/Documents/notes
function fn_createnote {
  if [ ! -d "${HOME}/Documents/notes" ]; then
    mkdir ~/Documents/notes
  fi
  cd ~/Documents/notes
  if [ ! -f "${HOME}/Documents/notes/$1.md" ]; then
    touch ~/Documents/notes/$1.md
  fi
  open -a 'Atom' $1.md
}
