# Various function used throughout other dotfiles (but can alse be
# executed on their own)


# ------------------------------------------------------------------------------
# GIT
# ------------------------------------------------------------------------------

# Get current Git branch
function git_get_branch {
  git branch --no-color 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/\ \[\1\]/'
}

# Get the current Git hash
function git_get_hash {
  git rev-parse --short HEAD 2> /dev/null | sed 's/\(.*\)/\ \[\1\]/'
}

# Get the latest Git tag in the curent branch
function git_get_tag {
  git describe --tags --abbrev=0 --first-parent 2> /dev/null | sed 's/\(.*\)/\ \[\1\]/'
}


# ------------------------------------------------------------------------------
# NODE / NPM
# ------------------------------------------------------------------------------

# Get the latest version of an NPM package
function npm_pv {
  npm info $1 | awk '/latest/ {print $2}'
}

# Go to the homepage of an NPM package
function npm_ph {
  open -a "Safari" $(npm info $1 homepage)
}

# Go to the NPM site of an NPM package
function npm_nh {
  open -a "Safari" https://www.npmjs.com/package/$1
}


# ------------------------------------------------------------------------------
# TERMINAL HELPER
# ------------------------------------------------------------------------------

# Create a new directory and change to it
function md {
  mkdir -p "$@" && cd "$@"
}

# List directory contents after cd-ing into it
# Needs ll alias (see .aliases)
function cdl {
  builtin cd "$@"; ll;
}
