[alias]
  cb = checkout -b
  cm = commit -m
  co = checkout
  df = "!git diff --color $@ | ~/.dotfiles/git/diff-so-fancy"
  db = branch -d
  drb = "!f() { : git branch ; B=$1; R=${B/origin\\//}; git push origin :${R} && git remote prune origin; }; f"
  ps = push
  pu = pull
  rb = branch -m
  s = status
  sq = "!f() { git reset --soft HEAD~${1}; git commit -n --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; }; f"
  uu = "!f() { : git branch ; git checkout ${1} && git fetch upstream && git rebase upstream/${1} && git push; }; f"
[branch]
  autosetuprebase = always
[core]
  excludesfile = ~/.dotfiles/git/.gitignore_global
  quotepath = false
[credential]
  helper = osxkeychain
[diff]
  tool = vimdiff
[help]
  autocorrect = 20
[mergetool]
  keepBackup = true
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[push]
  default = simple
[rerere]
  enabled = true
[user]
  name = Stefan Kolb
  email = dev@stefankolb.de
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

