[alias]
	cb = checkout -b
	cm = commit -m
	co = checkout
  df = "!git diff --color $@ | ~/.dotfiles/git/diff-so-fancy"
	db = branch -d
	drb = "!f(){ B=$1; R=${B/origin\\//}; git push origin :${R} && git remote prune origin; }; f"
	mm = !sh ~/.dotfiles/git/git-multimerge.sh
	ps = push
	pu = pull
	s = status
  rb = branch -m
	twc = "!f() { git commit -m \"[tolinoweb-#${1}] ${2}\";  }; f"
  uu = "!f() { git checkout ${1} && git fetch upstream && git merge upstream/${1} && git push;  }; f"
[branch]
  autosetuprebase = always
[core]
	excludesfile = /Users/stefan/.dotfiles/.gitignore_global
[credential]
  helper = osxkeychain
[diff]
  tool = vimdiff
[help]
  autocorrect = 20
[mergetool]
  keepBackup = true
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[rerere]
	enabled = true
