#!/usr/bin/env zsh

# Make navigation easier
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd ~'
alias -- -='cd ~-'
alias cdl='cd -P'
alias ll='ls -la'
alias ldir='ls -l | grep "^d"'
alias fzfp='fzf --preview "bat --color=always --theme=gruvbox-dark --line-range=:500 {}"'

# Improvements to default commands
alias less='less -X'
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

# Network related
alias localip='ipconfig getifaddr en0'
alias serve='open http://localhost:8080/ && python -m SimpleHTTPServer 8080'

# Improved/Smarter tools
alias bat='bat --theme=gruvbox-dark'
alias cat='bat'
alias git=/usr/local/bin/git
alias ping='prettyping --nolegend'
alias top='gtop'

# Misc.
alias sortbysize='ls -s | sort -n'
alias yr='yarn run'
