#!/usr/bin/env zsh

# Enable colors
# https://github.com/nicksp/dotfiles/blob/master/shell/bash_prompt
if [[ $COLORTERM = gnome-* && $TERM = xterm ]] && infocmp gnome-256color >/dev/null 2>&1; then
  export TERM='gnome-256color';
elif infocmp xterm-256color >/dev/null 2>&1; then
  export TERM='xterm-256color';
fi;

# Stop tracking me (https://consoledonottrack.com/)
export DO_NOT_TRACK=1

# Enable color scheme
export CLICOLOR=1
export LSCOLORS=CxfxcxdxBxegedabagacad

# Make vim the default editor
export EDITOR="vim"

# Export history file so it can be used by hstr; see .bash_profile
export HISTFILE=${HISTFILE}
export HSTR_CONFIG=hicolor,prompt-bottom

# Don't clear the screen after quitting a man page
export MANPAGER="less -X"

# Add highlighting inside manpages and elsewhere
export LESS_TERMCAP_mb=$'\E[01;31m'       # begin blinking
export LESS_TERMCAP_md=$'\E[01;38;5;74m'  # begin bold
export LESS_TERMCAP_me=$'\E[0m'           # end mode
export LESS_TERMCAP_se=$'\E[0m'           # end standout-mode
export LESS_TERMCAP_so=$'\E[38;5;246m'    # begin standout-mode - info box
export LESS_TERMCAP_ue=$'\E[0m'           # end underline
export LESS_TERMCAP_us=$'\E[04;38;5;146m' # begin underline

# FZF
export FZF_DEFAULT_COMMAND='fd --hidden --follow --exclude ".git"'
export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS --reverse --height 40% --border --color 'bg:#32302f,bg+:#504945,border:#a89984,disabled:#928374,fg:#a89984,fg+:#d5c4a1,gutter:#32302f,header:#83a598,hl:#cc241d,hl+:#fb4934,info:#d79921,marker:#cc241d,pointer:#fb4934,prompt:#ebddb2,query:#ebdbb2,spinner:#fabd2f'"
