# Enable colors
# https://github.com/nicksp/dotfiles/blob/master/shell/bash_prompt
if [[ $COLORTERM = gnome-* && $TERM = xterm ]] && infocmp gnome-256color >/dev/null 2>&1; then
  export TERM='gnome-256color';
elif infocmp xterm-256color >/dev/null 2>&1; then
  export TERM='xterm-256color';
fi;

# Make vim the default editor
export EDITOR="vim"

# Don't clear the screen after quitting a man page
export MANPAGER="less -X"

# Enable color scheme
export CLICOLOR=1
export LSCOLORS=CxfxcxdxBxegedabagacad
